<div class="inside-container">

  <h2 class="class" >System ewidencji - menu</h2>
  <br>
  <div id="menu">
  <div id="square" (click)="redirectApprenticeList()" (mouseover)="mouseOver()" (mouseout)="mouseOut()">
    <div id= "title">Lista uczniów</div>
    <div id="content">Przejdź do listy uczniów.</div>
  </div>
  <div id="square" (click)="redirectSubjectList()" (mouseover)="mouseOver1()" (mouseout)="mouseOut1()">
    <div id= "title1" >Lista przedmiotów</div>
    <div id="content">Przejdź do listy przedmiotów.</div>
  </div>
  <div id="square" (click)="redirectClassList()" (mouseover)="mouseOver2()" (mouseout)="mouseOut2()">
    <div id= "title2">Lista klas</div>
    <div id="content">Przejdź do listy klas.</div>
  </div><br>
  <div id="square" (click)="redirectTeacherList()" (mouseover)="mouseOver3()" (mouseout)="mouseOut3()">
    <div id= "title3">Lista nauczycieli</div>
    <div id="content">Przejdź do listy nauczycieli.</div>
  </div>
  <div id="square" (click)="redirectSchedulerList()" (mouseover)="mouseOver4()" (mouseout)="mouseOut4()">
    <div id= "title4">Plan lekcji</div>
    <div id="content">Przejdź do planu lekcji.</div>
  </div>
  <div id="square" (click)="redirectLogin()" (mouseover)="mouseOver5()" (mouseout)="mouseOut5()">
    <div id= "title5">Wyloguj</div>
    <div id="content">Wyloguj.</div>
  </div>
</div>
</div>
