<div class="inside-container">
  <button mat-icon-button (click)="redirectToMenu()" style="background-color: #00c800; color: white; font-size: 22px; font-weight: 500; font-family: Roboto, Helvetica Neue, sans-serif; margin-bottom: 30px;"><mat-icon>home</mat-icon></button>
    <h2>Tworzenie klasy</h2>
    <form [formGroup]="classForm">
        <mat-form-field>
            <input matInput placeholder="Nazwa klasy" formControlName="name" />
        </mat-form-field>
        <button mat-button class="submit-button" (click)="save()">Zapisz</button>
    </form>
</div>
