<div class="inside-container">
    <button mat-icon-button (click)="redirectToMenu()" style="background-color: #00c800; color: white; font-size: 22px; font-weight: 500; font-family: Roboto, Helvetica Neue, sans-serif; margin-bottom: 30px;"><mat-icon>home</mat-icon></button>
      <h2>Lista nauczycieli</h2>
      <button mat-button (click)="redirectToAddForm()" class="submit-button">Nowy nauczyciel</button>
      <table mat-table [dataSource]="items" class="table">
          <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Imię i nazwisko </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} {{element.lastName}} </td>
          </ng-container>
  
          <ng-container matColumnDef="phoneNumber">
              <th mat-header-cell *matHeaderCellDef> Numer telefonu </th>
              <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Adres email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>
  