<div class="inside-container">
    <form [formGroup]="loginForm">
        <mat-form-field>                
            <input matInput placeholder="Nazwa użytkownika" formControlName="username" />
        </mat-form-field>
        <mat-form-field>                
            <input matInput placeholder="Hasło" formControlName="password" />
        </mat-form-field>
        <div class="login-button-container">
            <button mat-button class="submit-button" (click)="logAsUser()">Zaloguj jako nauczyciel</button>
        </div>
        <div class="login-button-container">
            <button mat-button class="submit-button" (click)="logAsAdmin()">Zaloguj jako administrator</button>
        </div>
    </form>
</div>