#container{
  width: 50%;
  min-width: 700px;
  display: block;
  margin-top: 20px;
  font-size:15px;
  font-weight: bold;
}
#top{
  display: inline-block;
  width: 16.66%;
  box-shadow:inset 0px 0px 1px 1px rgb(0,0,0);
  text-align: center;
  height: 60px;
  float: left;

  line-height: 60px;
  background-color: #00c800;
}
#table{
  display: inline-block;
  width: 16.66%;
  height: 60px;
  box-shadow:inset 0px 0px 1px 1px rgb(0,0,0);
  text-align: center;
  float: left;

  line-height: 60px;
}

#black{
  display: inline-block;
  width: 16.66%;
  height: 60px;
  box-shadow:inset 0px 0px 1px 1px rgb(0,0,0);
  text-align: center;
  float: left;

  line-height: 60px;
  background-color: #00c800;
}

