<div class="inside-container">
<h2>Wybierz klase</h2>

<form>

  <mat-form-field appearance="fill">
    <mat-label >Klasa</mat-label>
    <mat-select [(ngModel)]="selectedValue" >
      <mat-option *ngFor="let element of items" [value]="element.name" (click)="hidden()">
        {{ element.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
<br>




<div id="container">
<div [hidden]="isHidden" >
  <div id="black" [hidden]="isHidden">--------</div>
  <div id="top">Poniedziałek</div>
  <div id="top">Wtorek</div>
  <div id="top">Środa</div>
  <div id="top">Czwartek</div>
  <div id="top">Piątek</div>

  <div id="table">8:00</div>
  <div id="table"></div>
  <div id="table"></div>
  <div id="table"></div>
  <div id="table"></div>
  <div id="table"></div>

  <div id="table">9:00</div>
  <div id="table"></div>
  <div id="table"></div>
  <div id="table"></div>
  <div id="table"></div>
  <div id="table"></div>

  <div id="table">10:00</div>
  <div id="table"></div>
  <div id="table"></div>
  <div id="table"></div>
  <div id="table"></div>
  <div id="table"></div>

  <div id="table">11:00</div>
  <div id="table"></div>
  <div id="table"></div>
  <div id="table"></div>
  <div id="table"></div>
  <div id="table"></div>

  <div id="table">12:00</div>
  <div id="table"></div>
  <div id="table"></div>
  <div id="table"></div>
  <div id="table"></div>
  <div id="table"></div>

  <div id="table">13:00</div>
  <div id="table"></div>
  <div id="table"></div>
  <div id="table"></div>
  <div id="table"></div>
  <div id="table"></div>

  <div id="table">14:00</div>
  <div id="table"></div>
  <div id="table"></div>
  <div id="table"></div>
  <div id="table"></div>
  <div id="table"></div>
</div>
</div>
</div>
