<div class="inside-container" *ngIf="classes">
    <h2>
        Obecność
    </h2>
    <mat-form-field>
        <mat-label>Klasa</mat-label>
        <mat-select
          (selectionChange)="handleChangeClass($event)" [value]="currentClassId">
            <mat-option *ngFor="let class of classes" [value]="class.id">
              {{class.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngFor="let student of students">
        <div class="student-item">
            {{student.name}}
        </div>
    </div>
</div>
